.form_post{
width: 965px;
padding: 30px;
margin: 10px auto;
border: solid 1px #ccc;
background: #fafafa;
border-radius: 8px;
margin-right: 25px;
margin-top: 70px;
}

section h2{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
}
label,input{
  font-family: 'Oswald', sans-serif;
  display: block;
  line-height: 35px;
  width: 100%;
 /*  border: 1px solid red; */
}
section input{
  margin-bottom:15px;
  border: solid 1px #ccc;
  border-radius: 8px;
  padding: 5px;
  font-size: 1rem;
 /*  border: 1px solid blue; */
  width: 100%;
}
section input[type="submit"]{
  line-height: 40px;
  border: 0;
  background: linear-gradient(180deg, #E94057 37.5%, #F27121 100%);
  color: #fff;
  font-size: 1rem;
  width: 40%;
  margin:auto;
}
#synopsis{
  height: 8em;
  width: 100%;
  border-radius:8px; 
  border: solid 1px #ccc;
}
#synopsis::placeholder{
  font-stretch: expanded;
}
