body{
    display:flex;
}
nav{
    background-color:black;
    color:white;
    padding-left: 50px;
    height:100vh;
    width: 23vw;
}
.text{
    position:fixed;
}
.info-avatar{
    display:flex;
    padding-top: 30px;
    margin-bottom: 30px;
    margin-left: 15px;
    padding-right: 40px;
    img{
        margin-right: 30px;
    }
}
.name{
    padding-top: 6px;
    h1{
        font-size: 20px;
        padding-bottom: 5%;
        font-family: 'Montserrat', regular;
        padding-top: 10%;
    }
    h2{
        font-size:11px;
        text-align:center;
        font-family: 'Montserrat', regular;
    }
}
.ligne img{
    padding-bottom: 1%;
    width: 90%;
}
nav ul li{
    padding-top:5%;
    padding-bottom:5%;
    font-family: 'Montserrat', regular;
    font-size:14px;
    img{
        padding-right: 5%;
    }
}
nav ul li:first-child{
    margin-top:10%;
    margin-bottom: 10%;
}
nav ul li:last-child{
    padding-bottom: 30%;
}
aside{
    display:flex;
    align-items: center;
    height: 63px;
    justify-content: space-between;
    padding-right: 6%;
}
.container{
    display:flex;
    font-family: 'Montserrat', regular;
    font-size:16px;
    img{
        height: 14px;
    }
}
.container:first-child{
    margin-left:2%;

}
.boite{
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', regular;
    font-size:14px;
    border:2px solid #E5E5E5;
    border-radius:10px;
    width: 30%;
    padding: 0px 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    p{
        color: rgba(0, 0, 0, 0.42);
    }
}
.logo{
    margin-left: 10%;
}
article{
    width:75vw;
}
.gray{
    width: 75vw;
    img{
        width: 100%;
    }
}
.movies{
    display:flex;
    justify-content: space-around;
}